@page "/counter"

@inject IConfiguration Configuration

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<h1 style="font-size:@Configuration["ConnectionStrings:DefaultConnection"]">
    @Configuration["urlApi"]
</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
