@page "/"

<h1>Hello, GlobalTek!</h1>

<Container>
    <p>
        Hello, GlobalTek!
        Esta es la solución de su prueba Técnica, se realizó como se indicó en el archivo con un modelo MVC aunque decidí separar los proyectos de front y Back, también se realizó como fue requerido la implementación de Base de Datos por CodeFirst usando entity framework, el código se encuentra en mi GitHub en el siguiente link:
    </p>
    <br />
    <h3>
        <href>https://github.com/Wicriix/FacturadorPrueba</href>
    </h3>
    <br />

    <p>
        Aunque no lo solicitaron, se realizó también un mantenimiento de Producto y de tipos de forma de pago para que sea más robusta la app. Se utilizó un patrón de diseño de Repositorio para desacoplar la base de datos de todo nuestro código. Por último se hizo despliegue en Azure tanto de la Base de datos como de la aplicación utilizando un App Service para este último, el link está en el README.md del repositorio.
    </p>

</Container>

