@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inherits LayoutComponentBase


<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark"
                 Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small">
                <BarToggler />
                <BarBrand>
                    <BarItem>
                        <BarLink To="">
                            <BarIcon IconName="IconName.StickyNote" />
                            Facturador
                        </BarLink>
                    </BarItem>
                </BarBrand>
                <BarMenu>
                    <BarStart>
                        <BarItem>
                            <BarLink To="">
                                <BarIcon IconName="IconName.Dashboard" />
                                Dashboard
                            </BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="/Facturas" @bind-Visible="uiElementsVisible">
                                <BarIcon IconName="IconName.Wallet" />
                                Factura
                            </BarLink>
                        </BarItem>
                        <BarItem>
                            <BarDropdown @bind-Visible="uiElementsVisible">
                                <BarDropdownToggle>
                                    <BarIcon IconName="IconName.Wrench" />
                                    Configuracion
                                </BarDropdownToggle>
                                <BarDropdownMenu>
                                    <BarDropdownItem To="/Productos">Productos</BarDropdownItem>
                                    <BarDropdownItem To="/TiposDePago">Tipos de Pago</BarDropdownItem>
                                </BarDropdownMenu>
                            </BarDropdown>
                        </BarItem>
                        <BarItem @onclick="BeginLogout">
                            Log out
                        </BarItem>
                    </BarStart>
                </BarMenu>
            </Bar>
        </div>
        <div>
            @Body
        </div>
    </Authorized>
    <NotAuthorized>
        <Container>
            <div class="formulario">
                <button @onclick="BeginLogin"><i class="fab fa-microsoft"></i>Log In With Microsoft</button>
            </div>
        </Container>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogin()
    {
        Navigation.NavigateTo("authentication/login");
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
    private bool uiElementsVisible = false;
    private bool utilitiesVisible = false;
    private bool extensionsVisible = false;
    private bool formsVisible = false;
    private bool datagridVisible = false;

    //RenderFragment customIcon =@<img src="../wwwroot/images.png" style="width:32px; height: 32px" />;
}